@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  scroll-padding-top: 80px;
}

li,
a,
ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #656464;
  text-decoration: none;
  background-color: transparent;
}

h4 {
  color: #000000;
  background-color: transparent;
  font-family: "Roboto";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s;
}

.nav-links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.icon-navbar {
  list-style: none;
}

.icon-navbar li {
  display: inline-block;
  padding: 0px 10px;
}

.icon-navbar li i {
  transition: all 0.3s;
}

.icon-navbar li i:hover {
  color: #0088a9;
}

/* Bagian hero  */
.hero {
  background-image: url("asset/bakcgroundhero.svg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #000000;
}

.hero-content {
  max-width: 600px;
  padding: 20px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  font-family: "Roboto";
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: "Nunito Sans";
}

.hero a.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  box-shadow: 0 5px 0 #005dc0;
  border-radius: 5px;
}

.hero a.button:active {
  box-shadow: none;
  transform: translateY(5px);
  transition: all 0.1s;
}

.section-margin {
  margin: 0 40px;
  padding: 20px 10%;
}

/* Bagian kategori */

.section-category-container {
  margin: 40px auto;
}

.category-header {
  display: flex;
  margin: auto 15px;
  justify-content: space-between;
}

.category-header h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: "Roboto";
}

.navigation-buttons {
  display: flex;
  gap: 20px;
}

.navigation-buttons button {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.navigation-buttons button i {
  font-size: 18px;
  background-color: transparent;
  margin-right: 5px;
}

.navigation-buttons button:hover {
  color: #ffffff;
  background-color: #0863c5;
  transition: all 0.3;
}

.category-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 15px;
}

.category-box {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 150px;
}

.category-box p {
  font-family: "Nunito Sans";
}

.category-box img {
  max-width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.category-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  filter: brightness(95%);
  transition: all 0.5s ease-out;
}

/* Bagian featured products */

.featured-products {
  padding: 20px;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.products-header button {
  text-decoration: none;
  font-size: 1em;
  background-color: #007bff;
  box-shadow: 0 5px 0 #005dc0;
  border-radius: 5px;
}

.products-header button:active {
  box-shadow: none;
  transform: translateY(5px);
  transition: all 0.1s;
}

.products-header h2 {
  font-size: 2em;
  margin-bottom: 20px;

  font-family: "Roboto";
}

.view-all {
  text-decoration: none;
  color: #fff;

  background-color: transparent;
  font-weight: bold;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.product-box {
  border: 1px solid #ddd;
  padding: 20px;
  filter: brightness(95%);
  border-radius: 8px;
  text-align: center;
}

.product-box img {
  width: 200px;
  height: 200px;
}

.product-info h3 {
  font-size: 18px;
  margin-top: 10px;
  font-family: "Nunito Sans";
}

.product-info p {
  font-size: 16px;

  font-family: "Nunito Sans";
}

.rating {
  color: #f8b700;
  margin: 10px 0;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-actions {
  margin-top: 20px;
}

.add-to-cart {
  padding: 10px 20px;
  background-color: #007bff;
  box-shadow: 0 5px 0 #005dc0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.add-to-cart:active {
  box-shadow: none;
  transform: translateY(5px);
  transition: all 0.1s;
}

.icon {
  display: inline-block;
  margin-right: 5px;
}

.icon img {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.fa-regular.fa-heart:hover {
  color: red;
  transform: scale(1.2);
}

.fa-regular.fa-eye:hover {
  color: blue;
  transform: scale(1.2);
}

/* bagian footer  */

.footer {
  background-color: #f8f9fa;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-column {
  background-color: #f8f9fa;

  margin-right: 20px;
  text-align: left;
}

.footer-column:last-child {
  margin-right: 0;
}

.footer-column h4 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.social-icons a {
  color: #333;
  font-size: 20px;
  margin-right: 10px;
}

.list-footer {
  list-style: none;
  padding: 0;
  text-align: left;
}

.list-footer a:hover {
  color: #005dc0;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info i {
  margin-right: 10px;
}

.footer-margin {
  position: relative;
}
